---
layout: base
---

<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- for category in site.categories -%}
    {%- if category[0] != "wiki" -%}

      <section class="category-section">
        <h2 class="category-title">{{ category[0] | upcase }}</h2>

        <ul class="post-list">
          {%- for post in category[1] -%}
            <li>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </section>

    {%- endif -%}
  {%- endfor -%}

</div>
